*{
  margin: 0;
  padding: 0;
}
#root{
  width: 100%;
  height: 100%;
}
.app{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #cbc;
  margin-top: 200px;
  border-radius: 20px 20px;
  padding: 20px;
}
 .ul {
   width: 100%;
  list-style: none;
}
.ul li {
  /* height: 100px; */
  margin-bottom: 5px;
  padding: 20px;
  border-radius: 10px;
}
 .ul li h3 {
  /* float: left; */
  font-size: 25px;
  font-weight: 700;
}
 .ul li p {
  /* float: left; */
  font-size: 13px;
  margin-bottom: 5px;
}
 .ul li:nth-child(1) {
  /* height: 120px; */
  background-color: #ff1;
}
.ul li:nth-child(2) {
  /* height: 120px; */
  background-color: #f66;
}
.ul li:nth-child(3) {
  /* height: 120px; */
  background-color: #6fd;
}
.ul li:nth-child(4) {
  /* height: 120px; */
  background-color: #66d;
}
.ul li:nth-child(5) {
  /* height: 120px; */
  background-color: #6d5;
}
h1{
    font-size: 100px;
    font-weight: 700;
    color: aquamarine;
}